.vscode/

__pycache__/
*.py[cod]
*$py.class

run.bat
errors.log
pokegambler.db
config.json

localcommands.py

*.log

htmlcov/
.tox/
.nox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/
cover/

.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/